<!DOCTYPE html>
<html lang="en">

<head>



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-navbar></app-navbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 black"><strong>List of Users</strong></h1>
            <a href="javascript:;" onclick="login()" class="d-none d-sm-inline-block btn btn-primary loginbt theme_bg"
              style="width:100px;">ADD</a>
          </div>

          <!-- DataTales Example -->
          <div class="">
            <div class="">
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Name</th>
                      <th>Role</th>
                      <th>User ID</th>
                      <th>Registered Email Id</th>
                      <th>Mobile No</th>
                      <th>Created On</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let admin of getAdmin ">
                      <td>{{admin.id}}</td>
                      <td>{{admin.name}}</td>
                      <td>{{admin.role}}</td>
                      <td>{{admin.user_id}}</td>
                      <td>{{admin.email}}</td>
                      <td>{{admin.phone_number}}</td>
                      <td>{{moment(admin.created_on).format('YYYY-MMM-DD')}}</td>
                      <td>{{admin.status}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <!-- start of add/edit section-->

          <div class="add-edit-section">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h5 mb-0 black"><strong>Add/Edit User Details</strong></h1>
            </div>


            <div class="page_inputs">
              <div class="row">

                <!-- Variant Name -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="name" required="required" value="Javed Salat">
                      <label for="name">User Name</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>
                <!-- # of maximum participants per contest -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="amount" required="required" value="Admin">
                      <label for="amount">Role</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>
                <!-- # of winners per contest -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="commission" required="required" value="javeds">
                      <label for="commission">User ID</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>
                <!-- # of winners per contest -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="commission" required="required" value="javedsalat@gmail.com">
                      <label for="commission">Email Id</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>
                <!-- # of winners per contest -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="commission" required="required" value="+91 123456789">
                      <label for="commission">Mobile No</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>
                <!-- # of winners per contest -->
                <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                    <div class="input-container">
                      <input type="text" id="commission" required="required" value="Active">
                      <label for="commission">Status</label>
                      <div class="bar"></div>
                    </div>
                  </div>
                </div>








              </div>

            </div>

          </div>

          <hr>

          <div class="btn_area fR">
            <a href="javascript:;" onclick="login()" class="btn btn-primary loginbt theme_default"
              style="width:100px;">Reset</a>
            <a href="javascript:;" onclick="login()" class="btn btn-primary loginbt theme_bg"
              style="width:100px;">SAVE</a>
          </div>

          <!-- add edit section-->


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>






</body>

</html>