<!DOCTYPE html>
<html lang="en">

<head>

  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-navbar></app-navbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 black"><strong>List of Variants</strong></h1>
			<a href="javascript:;" onclick="login()" class="d-none d-sm-inline-block btn btn-primary loginbt theme_bg" style="width:100px;">ADD</a>
          </div>        

          <!-- DataTales Example -->
          <div class="">
            <div class="">
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Variant Name</th>
                      <th># of Participants</th>
                      <th># Winners</th>
                      <th>Created On</th>
                      <th>Modified On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let variant of getVariant">
                      <td>{{variant.v_id}}</td>
                      <td>{{variant.v_name}}</td>
                      <td>49</td>
                      <td>7</td>
                      <td>15 JULY 2020</td>
                      <td>15 JULY 2020</td>
                    </tr>
                  

                  </tbody>
                </table>
              </div>
            </div>
          </div>
		  
		  
		  <!-- start of add/edit section-->
		  
		  <div class="add-edit-section">
		  <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 black"><strong>Add/Edit Variant</strong></h1>
          </div>
		  		  		  
		  
		  <div class="page_inputs">
		  <div class="row">

            <!-- Variant Name -->
            <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                   <div class="input-container">
										<input type="text" id="name" required="required" value="High5">
										<label for="name">Variant Name</label>
										<div class="bar"></div>
						</div>
                  </div>
            </div>
			<!-- # of maximum participants per contest -->
            <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                   <div class="input-container">
										<input type="text" id="amount" required="required" value="10">
										<label for="amount"># of maximum participants per contest</label>
										<div class="bar"></div>
						</div>
                  </div>
            </div>
			<!-- # of winners per contest -->
            <div class="col-xl-4 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
                   <div class="input-container">
										<input type="text" id="commission" required="required" value="5">
										<label for="commission"># of winners per contest</label>
										<div class="bar"></div>
						</div>
                  </div>
            </div>
			
			<div class="col-xl-12 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
						<div>
										<label class="lbl_txt" for="commission">Award amount share in %</label>
						</div>
                  </div>
            </div>
			<div class="col-xl-12 col-md-6 mb-4">
                  <div class="row no-gutters align-items-center">
						<!-- start of block -->
							<div class="award-block card shadow">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
									  <div class="award-count h5 mb-0 font-weight-bold txt-white">1</div>
									</div>
									<div class="col-auto">
									  <input type="text" id="commission" required="required" value="5">
									</div>
								 </div>
							</div>
							<div class="award-block card shadow">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
									  <div class="award-count h5 mb-0 font-weight-bold txt-white">2</div>
									</div>
									<div class="col-auto">
									  <input type="text" id="commission" required="required" value="5">
									</div>
								 </div>
							</div>
							<div class="award-block card shadow">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
									  <div class="award-count h5 mb-0 font-weight-bold txt-white">3</div>
									</div>
									<div class="col-auto">
									  <input type="text" id="commission" required="required" value="5">
									</div>
								 </div>
							</div>
							<div class="award-block card shadow">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
									  <div class="award-count h5 mb-0 font-weight-bold txt-white">4</div>
									</div>
									<div class="col-auto">
									  <input type="text" id="commission" required="required" value="5">
									</div>
								 </div>
							</div>
							<div class="award-block card shadow">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
									  <div class="award-count h5 mb-0 font-weight-bold txt-white">5</div>
									</div>
									<div class="col-auto">
									  <input type="text" id="commission" required="required" value="5">
									</div>
								 </div>
							</div>
							
							
                  </div>
            </div>

            
            

           
          </div>

		  </div>

		  </div>
		  
		  <hr>
		  
		  <div class="btn_area fR">
			<a href="javascript:;" onclick="login()" class="btn btn-primary loginbt theme_default" style="width:100px;">Reset</a>
			<a href="javascript:;" onclick="login()" class="btn btn-primary loginbt theme_bg" style="width:100px;">SAVE</a>
		  </div>
		  
		  <!-- add edit section-->
		  

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
     <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>

</html>
