  
  
  
 
  
          <!-- Footer -->
          <footer class="sticky-footer bg-gray-900">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Fabtrio 2020</span>
              </div>
            </div>
          </footer>
       
  


  <!-- End of Footer -->