<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-navbar></app-navbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
			        
		  <div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h5 mb-0 black"><strong>Select Man of the Match	</strong></h1>
				</div>
		  
		  <!-- start of div-->
		  <div class="row">
			<div class="col-lg-3 mb-4">
				
				<div class="player-img">
                <img class="img-profile" [src]="playersData?.playerData.thumb_url ? playersData?.playerData.thumb_url : 'assets/img/eoin-morgan.jpg'">
              </div>			
			</div>
			
			
			<div class="col-lg-9 mb-4">	
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="ft-46 mb-0 black"><strong>{{playersData.playerData.title}}</strong></h1>
				</div>
				<div class="stats">
					<div class="fig fL">
						<h1 class="h5 mb-0 text-gray-600"><strong>Fantasy Point	</strong></h1>
						<div class="score">{{playersData.playerData.fantasy_point}}</div>
					</div>
					<!-- <div class="fig fL">
						<h1 class="h5 mb-0 text-gray-600"><strong>Catches	</strong></h1>
						<div class="score">2</div>
					</div>
					<div class="fig fL">
						<h1 class="h5 mb-0 text-gray-600"><strong>Wickets	</strong></h1>
						<div class="score">0</div>
					</div>
					<div class="fig fL">
						<h1 class="h5 mb-0 text-gray-600"><strong>Run Outs	</strong></h1>
						<div class="score">1</div>
					</div> -->
				
				</div>

			</div>
	  
		  </div>

		  <!-- add edit section-->
<hr>
		  
				<div class="btn_area center-btn">
					<a href="javascript:;" data-toggle="modal" data-target="#momModal" class="btn btn-primary loginbt theme_bg">Set Man of the Match</a>
				</div>


				

        </div>
		<!-- /.container-fluid -->
		

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="modal fade" id="momModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="player-img">
				<div class="btn_area center-btn">				
					<p class="set-mom">Are you sure you want to set <br/> {{playersData.playerData.title}} as Man of the Match</p>
					<a href="javascript:;" (click)="addMom(player_id, match_id )" data-dismiss="modal" class="btn btn-primary loginbt theme_bg3 width_150">Yes</a>
					<a href="javascript:;"  data-dismiss="modal" class="btn btn-primary loginbt theme_bg width_150">Cancel</a>
				</div>
			</div>
      </div>
    </div>
  </div>


</body>

</html>

