<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#ffffff;">
    <tr>
        <td height="50"> </td>
    </tr>
    <tr>
        <td>
            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="background:#ffffff;">
            <tr>
                <td>
                    <table width="600" cellspacing="0" cellpadding="0" border="0" style="padding:7px 0;">
                        <tr>    
                            <td style="width:30px; background-color:#ffffff;"> </td>
                            <td width="100"><a href="http://www.fabtrio.com" title="fabtrio" style="text-decoration:none;padding: 10px;display: block;text-decoration:none;"><img src="../../img/fabtrioLogo.svg"  height="78" width="60"  title="fabtrio" alt="fabtrio"></a></td>
                            <td width="440" style="font-family: Arial; font-size:20px; text-align:right; color:#ff7b40; text-transform:uppercase">Welcome aboard</td>
                            <td style="width:30px; background-color:#ffffff;"> </td>
                        </tr>
                        <tr>    
                            <td style="width:30px; background-color:#ffffff;"> </td>
                            <td colspan="2" style="height:3px; background: rgba(21,237,237,1);
    background: -moz-linear-gradient(left, rgba(21,237,237,1) 0%, rgba(88,216,245,1) 39%, rgba(9,188,242,1) 62%, rgba(81,187,248,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,237,237,1)), color-stop(39%, rgba(88,216,245,1)), color-stop(62%, rgba(9,188,242,1)), color-stop(100%, rgba(81,187,248,1)));
    background: -webkit-linear-gradient(left, rgba(21,237,237,1) 0%, rgba(88,216,245,1) 39%, rgba(9,188,242,1) 62%, rgba(81,187,248,1) 100%);
    background: -o-linear-gradient(left, rgba(21,237,237,1) 0%, rgba(88,216,245,1) 39%, rgba(9,188,242,1) 62%, rgba(81,187,248,1) 100%);
    background: -ms-linear-gradient(left, rgba(21,237,237,1) 0%, rgba(88,216,245,1) 39%, rgba(9,188,242,1) 62%, rgba(81,187,248,1) 100%);
    background: linear-gradient(to right, rgba(21,237,237,1) 0%, rgba(88,216,245,1) 39%, rgba(9,188,242,1) 62%, rgba(81,187,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15eded', endColorstr='#51bbf8', GradientType=1 );"> </td>
                            <td style="width:30px; background-color:#ffffff;"> </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="background:#FFFFFF;padding:10px 0 10px 0">
                    <tr>
                        <td style="width:30px; background-color:#ffffff;"> </td>
                        <td>
                            <table width="100%" border="0" cellspacing="2" cellpadding="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #333333; text-align:left; font-weight:normal; background-color:#ffffff;">
                                <tr>
                                                      <td style="font-family:Arial, Helvetica, sans-serif; line-height:150%; font-size:14px; color:#343434;"><br>
                                                            <span style="display:inline-block">Hi {UserName},</span>
                                                            <br><br>
                                                             <p>Welcome to fabtrio.</p>
                                                             <p>A unique fantasy league game which delivers higher winning probabilities with endless opportunities in each game.</p> 
                                                             <br/>
                                                             <p style="text-align:center; font-size:20px">It's simpler than you think!</p>
                                                             <img src="../../img/fabtriosymbol.svg"  height="365" width="322"  title="fabtrio" alt="fabtrio" style="margin: 0 auto;display: block;">
                                                             <br/>
                                                             <p><span>Regards,</span><br/>
                                                             fabtrio Team</p>
                                                      </td>
                                </tr>
                                <tr>
                                                        <td style="border-left:1px solid #ffffff; border-right:1px solid #ffffff; height:50px; background:#ffffff;"> </td>
                                </tr>
                                <tr>
                                                      <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#132976; border-top:1px solid #000000; text-decoration:none; border-bottom:1px solid #000000 !important">
                                                            <p><a href="http://www.fabtrio.com" title="fabtrio" style="color:#132976;text-decoration:none; font-weight:bold">http://www.fabtrio.com</a></p>													
                                                      </td>
                                </tr>
                                <tr>
                                                        <td style="border-left:1px solid #ffffff; border-right:1px solid #ffffff; height:20px; background:#ffffff;"> </td>
                                </tr>
                                <tr>
                                                      <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#9b9b9b;">
                                                            <p>Disclaimer: The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosure. If you are not the intended recipient of this message or their agent, or tif this message has been addressed to you in error, please immediately alert the sender by reply email and then delete this message and any attachments. If you are not the intended recipient, you are hereby notified that any use, dissemination, copying, or storage of this message or its attachments is strictly prohibited.</p> 
                                                            <p>You received this email because you signed up on <a href="http://www.fabtrio.com" title="fabtrio" style="color:#132976;text-decoration:none">fabtrio</a> mobile application</p>
                                                            <p>All rights reserved. | Powered by <a href="http://www.adviksys.in/" title="AdvikSYS LLP" style="color:#58b1ff;text-decoration:none;  font-weight:bold">AdvikSYS LLP</a>.</p>														
                                                      </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:30px; background-color:#ffffff;"> </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border-left:1px solid #ffffff; border-right:1px solid #ffffff; height:25px; background:#fff;"> </td>
                    </tr>
                    </table>
                </td>
            </tr>
            <tr>
                        <td colspan="3" style="border-left:1px solid #ffffff; border-right:1px solid #ffffff; height:12px; background:#ffffff;"> </td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="50"> </td>
    </tr>
    </table>