<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-navbar></app-navbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
			        
		  
		  
		  <!-- start of div-->
		  <div class="row">
			<div class="col-lg-6 mb-4">
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h5 mb-0 black"><strong>Live Matches	</strong></h1>
				</div>
				<div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Match</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cmpl" *ngFor="let match of getMatch">
                      <td>1</td>
                      <td>{{match.title}}</td>
                      <td>{{match.status_str}}</td>
                    </tr>
              
                  </tbody>
                </table>
              </div>			
			</div>
			
			
			<div class="col-lg-6 mb-4">	
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h5 mb-0 black"><strong>Team Players</strong></h1>
				</div>
				
				
				<div class="tabbable-line">
					<ul class="nav nav-tabs">
						<li>
							<a href="#tab_process_1" data-toggle="tab" class="active">{{getTeama}} </a>
						 </li>
						<li class="">
							<a href="#tab_process_2" data-toggle="tab">{{getTeamb}}</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_process_1">
								<div class="table-responsive">
									<table class="table table-hover" width="100%" cellspacing="0">
									  <tbody>
										<tr *ngFor="let player of teamaPlayes">
										  <td>{{player.title}}</td>
										  <td><a (click)="onClickNavigate(player)" class="btn btn-primary loginbt theme_bg pview" >View</a></td>
										</tr>
									
									  </tbody>
									</table>
								  </div>			
						</div>
						<div class="tab-pane" id="tab_process_2">
							<table class="table table-hover" width="100%" cellspacing="0">
									  <tbody>
										<tr *ngFor="let player of teambPlayes">
										  <td>{{player.title}}</td>
										  <td><a (click)="onClickNavigate(player)" class="btn btn-primary loginbt theme_bg pview">View</a></td>
										</tr>
										
									  </tbody>
									</table>
						</div>
					</div>
				</div>
					
				
			</div>
	  
		  </div>

		  <!-- add edit section-->
		  

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 

</body>

</html>




