<!DOCTYPE html>
<html lang="en">

<head>



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-navbar></app-navbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 black"><strong>List of Users</strong></h1>
          </div>

          <!-- DataTales Example -->
          <div class="">
            <div class="">
              <div class="table-responsive mg-bt-30">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Name</th>
                      <th>Email Id</th>
                      <th>Mobile #</th>
                      <th>Registered On</th>
                      <th>KYC</th>
                      <th>Cash Balance</th>
                      <th>Bonus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let  user  of getUser">
                      <td>{{user.id}}</td>
                      <td>{{user.first_name}} {{user.last_name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone_number}}</td>
                      <td>{{moment(user.created_at).format('YYYY-MMM-DD')}}</td>
                      <td>{{user.is_kyc_done}}</td>
                      <td>{{user.deposited_amount}}</td>
                      <td>{{user.bonus_amount}}</td>
                    </tr>



                  </tbody>
                </table>
              </div>
            </div>
          </div>




          <!-- add edit section-->


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




</body>

</html>