<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-4 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="login_card">
                  <div class="text-center">
					        <img src="assets/img/fabtrioLogo.svg" title="Fabtrio" alt="Fabtrio"/>
                  </div>
					<form [formGroup]="loginForm">
                              <div class="input-container">
                                <input type="text" id="Username" required="required" formControlName="username">
                                <label for="Username">Username</label>
                                <div class="bar"></div>
                              </div>
                                
                              <div class="input-container">
                                <input type="password" id="Password" required="required" formControlName="password">
                                <label for="Password">Password</label>
							            	 <a href="javascript:;" onclick="login()" class="fR btn btn-primary loginbt resend_btn theme_bg">Resend OTP</a>
                                <div class="bar"></div>
                              </div>
							  
                                <div><label for="Password" class="otp_txt">OTP</label></div>
							  
							  <div class="input-container wdt-15" *ngFor='let data of otpData'>
                                <input type="text" id="otp1" size="1" value="{{data}}" required="required">
                                <div class="bar"></div>
                              </div>
							  <!-- <div class="input-container wdt-15">
                                <input type="text" id="otp2" size="1" required="required">
                                <div class="bar"></div>
                              </div>
							  <div class="input-container wdt-15">
                                <input type="text" id="otp3" size="1" required="required">
                                <div class="bar"></div>
                              </div>
							  <div class="input-container wdt-15">
                                <input type="text" id="otp4" size="1" required="required">
                                <div class="bar"></div>
                              </div>
							  <div class="input-container wdt-15">
                                <input type="text" id="otp5" size="1" required="required">
                                <div class="bar"></div>
                              </div>
							  <div class="input-container wdt-15">
                                <input type="text" id="otp6" size="1" required="required">
                                <div class="bar"></div>
                              </div> -->
                              <!--<div class="input-container"><a href="javascript:;" title="Forgot Password?" class="fgt_txt">Forgot Password?</a></div>
                              <div class="input-container">Not a register user? <a href="new-registration.html" title="Register Now" class="fgt_txt">Register Now</a></div>-->
                              <div class="form-group clear">
							  <div class="checkbox fL">
                                    <label><input type="checkbox" value=""> <span>Remember Me</span></label>
                              </div>
							  <button type="submit" *ngIf="!isOTPGenerated" class="fR btn btn-primary loginbt theme_bg" style="width:100px;" (click)="adminLogin()">Send OTP</button>
							  <button type="submit" *ngIf="isOTPGenerated" class="fR btn btn-primary loginbt theme_bg" style="width:100px;" (click)="submitOTP()">Login</button>
							  </div>
                    </form>                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="/src/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script src="/src/assets/vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <!-- Custom scripts for all pages-->
  <!-- <script src="/src/assets/js/sb-admin-2.min.js"></script> -->

</body>

</html>
