.fL{float:left;}
.fR{float:right;}
.black{color:#000000}
.txt-white{color:#ffffff;}
.mg-bt-30{margin-bottom:30px;}
.wdt-15{width:10%;float:left}
#wrapper #content-wrapper{background:#ffffff !important}
.none{display:none;}
.theme_bg{background: background: rgb(255,137,80);
background: linear-gradient(180deg, rgba(255,137,80,1) 20%, rgba(255,182,7,1) 100%);}
.theme_bg3{
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(45deg,  #006e2e 0%, #00af31 53%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #006e2e 0%,#00af31 53%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #006e2e 0%,#00af31 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#00af31',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
hr{clear:both;}
.clearall{clear:both}
.placeholder{background:#ddd; height:300px;width: 85%;}
.theme_default{background:#777777}
.bg-gradient-primary, .sidebar{ background: rgb(20,236,237);
background: linear-gradient(180deg, rgba(20,236,237,1) 0%, rgba(15,214,239,1) 36%, rgba(6,175,243,1) 68%);}
.sidebar.toggled{   width: 70px !important;}
.sidebar.toggled .nav-item .nav-link{  width: 70px !important;}
.otp_txt{    margin: 0 10px;}
.resend_btn{position:absolute;right:0;    z-index: 100;}

.login_card{padding:30px 20px;}
.login_card form{    margin-top: 30px;}
.login_card .input-container {position: relative;margin: 0 10px 25px;}
.login_card .input-container input {outline: none;z-index: 1;position: relative;background: none;width: 100%;height: 45px;border: 0;color: #212121;font-size: 16px;font-weight: 400;}
.login_card .input-container input:focus ~ label {color: #007efe;-webkit-transform: translate(-12%, -50%) scale(0.75);transform: translate(-12%, -50%) scale(0.75);}
.login_card .input-container input:focus ~ .bar:before, .login_card .input-container input:focus ~ .bar:after {width: 50%;}
.login_card .input-container input:valid ~ label {color: #9d9d9d;-webkit-transform: translate(-12%, -50%) scale(0.75);transform: translate(-12%, -50%) scale(0.75);}
.login_card .input-container label {position: absolute;top: 0;left: 0;color: #757575;font-size: 18px;font-weight: 300;line-height: 60px;-webkit-transition: 0.2s ease;transition: 0.2s ease;}
.login_card .input-container .bar {position: absolute;left: 0;bottom: 0;background: #757575;width: 100%;height: 1px;}
.login_card .input-container .bar:before, .login_card .input-container .bar:after {content: '';position: absolute;background: #007efe;width: 0;height: 2px;-webkit-transition: .2s ease;transition: .2s ease;}
.login_card .input-container .bar:before {left: 50%;}
.login_card .input-container .bar:after {right: 50%;}
.login_card .button-container {margin: 0 60px;text-align: center;}
.input-container.wdt-15 input{padding:10px;}


/****Remove This to display search and pagination section*****/
.dataTables_length{display:none}

/****.dataTables_filter{display:none}****/

.page_inputs .input-container {position: relative;margin: 10px 0 25px; width:85%;}
.page_inputs .input-container input {outline: none;z-index: 1;position: relative;background: none;width: 100%;height: 45px;border: 0;color: #000000;font-size: 16px;font-weight: bold;}
.page_inputs .input-container input:focus ~ label {color: #0088ff;-webkit-transform: translate(-12%, -50%) scale(0.75);transform: translate(-12%, -50%) scale(0.75);}
.page_inputs .input-container input:focus ~ .bar:before, .login_card .input-container input:focus ~ .bar:after {width: 50%;}
.page_inputs .input-container input:valid ~ label {color: #0088ff;-webkit-transform: translate(-12%, -50%) scale(0.75);transform: translate(-12%, -50%) scale(0.75);font-weight:bold;}
.page_inputs .input-container label {position: absolute;top: 0;left: 0;color: #757575;font-size: 18px;font-weight: 300;line-height: 60px;-webkit-transition: 0.2s ease;transition: 0.2s ease;font-weight:bold;}
.page_inputs .input-container .bar {position: absolute;left: 0;bottom: 0;background: #757575;width: 100%;height: 1px;}
/*.page_inputs .input-container .bar:before, .login_card .input-container .bar:after {content: '';position: absolute;background: #757575;width: 0;height: 2px;-webkit-transition: .2s ease;transition: .2s ease;}*/
.page_inputs .input-container .bar:before {left: 50%;}
.page_inputs .input-container .bar:after {right: 50%;}
.page_inputs .button-container {margin: 0 60px;text-align: center;}

.customradiobtn{margin: 8px 0;}
.customradiobtn input[type="radio"]:checked:after{float: left; content: ""; width: 8px; height: 8px; background: #00b4eb; border-radius: 5px; margin: -14px 0 0 4px;}
.customradiobtn input[type="radio"]:before{width: 20px; height: 20px; background: #fff; color: #fff; border: 1px solid #6d6d6d; float: left; content: ""; border-radius: 10px; margin: -1px 0px 0 -2px;}
.checkbox input[type="checkbox"]:checked:after{float: left; content: ""; width: 8px; height: 8px; background: #00b4eb; margin: -14px 0 0 4px;}
.checkbox input[type="checkbox"]:checked.changed:after{float: left; content: ""; width: 8px; height: 8px; background:#ccc !important; margin: -14px 0 0 4px;}
.checkbox input[type="checkbox"]:before{width: 20px; height: 20px; background: #fff; color: #fff; border: 1px solid #6d6d6d; float: left; content: "";  margin: -4px 0px 0 -2px;}
input[type=radio] {margin: 0px 5px 0 5px;}
.customradiobtn span,.checkbox span{padding:0 5px;}

.form-group{overflow:hidden;padding: 10px;}
.form-group .checkbox{margin:10px 1px 0;}
.form-group .checkbox label span{padding-left:10px}
.form-group .checkbox label{margin-bottom:0}
.loginbt {border-radius:30px;text-transform:uppercase;border:none;font-weight:bold;-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);}

.nav-item.active svg{fill:#0a2071;}
.nav-item svg{fill:#ffffff;}
nav h4{color:#0a2071}

.add-edit-section{margin:45px 0;}
.btn_area{padding:20px 10px; overflow:hidden;}
.btn_area a.theme_default{margin:0 10px}

.table thead th{border-bottom:2px solid #ff7b40;color:#000000;}

.award-count{background: #ff7b40;padding: 23px 30px;font-size: 24px;}
.award-block input{width:80px; padding:20px;float:left;border:none!important;font-size: 24px;}
.award-block input:focus{outline:none !important}
.award-block{margin-right:20px}
.lbl_txt{color:#0088ff}

div.dataTables_wrapper div.dataTables_filter input{border: none;border-bottom: 1px solid;}
div.dataTables_wrapper div.dataTables_filter input.form-control:focus{box-shadow:none !important}

/* Default mode */
.nav-tabs>li>a {position: relative;display: block;padding: 12px 15px;}
.tabbable-line > .nav-tabs {border: none;margin: 0px;}
.tabbable-line > .nav-tabs > li {width:50%;}
.tabbable-line > .nav-tabs > li > a {border: 0;margin-right: 0;color: #737373;text-align:center; text-decoration: none;}
.tabbable-line > .nav-tabs > li > a.active {border-bottom: 2px solid #ff7b40;}
.tabbable-line > .nav-tabs > li > a > i {color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {border-bottom: 2px solid #ff7b40;}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {border: 0;background: none !important;color: #000000;}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {margin-top: 0px;}
.tabbable-line > .nav-tabs > li.active {border-bottom: 2px solid #ff7b40;position: relative;}
.tabbable-line > .nav-tabs > li.active > a {border: 0;color: #000000;   }
.tabbable-line > .nav-tabs > li.active > a > i {color: #404040;}
.tabbable-line > .tab-content {background-color: #fff;border: 0;}
.pview{float: right;display:block;width:100px;    text-transform: capitalize;padding: 4px;}
.btn:focus{box-shadow:none;}
.player-img{-webkit-box-shadow: 0px 0px 5px 3px rgba(194,194,194,1);
-moz-box-shadow: 0px 0px 5px 3px rgba(194,194,194,1);
box-shadow: 0px 0px 5px 3px rgba(194,194,194,1);}
.ft-46{font-size:70px;}
.stats{margin: 70px 0 0;overflow: hidden;display: block;}
.stats .fig{width: 15%;margin-right:2%}
.stats .score{font-size:60px;color:#000000;font-weight:bold;}
.center-btn{margin: 0 auto;
    text-align: center;}
.center-btn a{text-transform:initial;padding:10px 50px;}
.set-mom{color:#ff7b40; font-size:24px;}
.width_150{width:150px;margin-right:10px}
.table tr.inpro{background: #0000000d}
.table tr.cmpl{background: #ff7b4052}

.modal-content{border-radius:0;}
